extends Layout

block content
  .container
    h1= Name
    ul
      li I am #{age} years old
      li I was born in #{cityBorn}
      li I currently reside in #{cityResiding}
      li I enjoy #{hobby}